.App {
  text-align: center;
  background-color: #eb9d2f;
}
.App-header {
  width: calc(var(--tile-size) * 20);
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  grid-area: h;
}
