@import url('./index.css');

.controls {
  margin-top: 10px;
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.control-button {
  --size: calc(var(--tile-size) * 2);
  width: calc(var(--tile-size) * 2);
  height: calc(var(--tile-size) * 2);
  text-align: center;
  display: block;
  border-width: 1px;
  margin: 5px;
  border-radius: var(--button-radius);
  border-color: none;
  background-color: var(--color-0);
  color: white;
}
