@import url('./index.css');

.score-board {
  grid-area: r;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 2vh;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}

.score-board-button {
  padding: 0.4em;
  border-width: 2px;
  border-color: none;
  background-color: var(--color-0);
  color: white;
  width: var(--size);
  height: var(--size);
  font-size: 2vh;
  margin-left: 5px;
}
